@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-300px * 5 - 2rem * 5));
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
}

/* Add smooth scrolling behavior */
html {
  scroll-behavior: smooth;
}

/* Improve text rendering */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}